<div style="text-align:left">
  <h2>{{titulo}}</h2> 
  <button (click)="goBack()">Back</button >
</div>

<div style="text-align: center">
  <h3>{{listagem}}</h3> 
  <li *ngFor="let cat of allCategories" [class.selected]="cat === selectedCategory" (click)="onSelect(cat)" >
    <span class="badge">{{cat.categoryId}}-{{cat.categoryName}}</span> 
    <button *ngIf="cat.categoryParentId != null" class="delete" title="delete categoria"
    (click)="delete(cat)"> x </button>
  </li>
</div>


<app-editar-categoria [category]="selectedCategory"></app-editar-categoria>