.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.formCard {
  margin: auto;
  width: 30%;
}

.loginButton {
  background-color: #dedede;
  color: #607d8b;
  /*background-color: #EDEDED;*/
  width: 50%;
}