<h3>
  {{titulo}}
</h3>
<nav>
  <a routerLink="/produtos"> {{produtos}}</a>
  <p></p>
  <a routerLink="/materiais"> {{materiais}}</a>
  <p></p>
  <a routerLink="/criar-produto"> {{criarProdutos}}</a>
  <p></p>
  <a routerLink="/restricao"> {{restricoes}}</a>
  <p></p>
  <a routerLink="/dimensoes"> {{dimensoes}}</a>
  <p></p>
  <a routerLink="/criarCategoria"> {{criarCategorias}}</a>
  <p></p>
  <a routerLink="/gerirCategoria"> {{gerirCategorias}}</a>
  <p></p>
  <a routerLink="/gerirAcabamentos"> {{gerirAcabamentos}}</a>
</nav>
<router-outlet></router-outlet>
