<p></p>
<div style="text-align:left">
  <h2>ITENS</h2>
  <button (click)="goBack()">Back</button>
</div>
<div style="text-align:center">
  <p></p>
  <hr>
  <h2>GERIR ITENS</h2>
  <p align="center">
    <li *ngFor="let item of allItens">
      <div *ngIf="item.child !== true">
        <div *ngIf="item.editavel === true">
       <nav>
        <a routerLink="/itens/{{item.id}}">
          <span class="badge">{{item.nome}}</span>
        </a>
        <button class="delete" title="delete Item" (click)="delete(item)">x</button>
        </nav>
      </div>
    </div>
    </li>
  </p>

</div>

<div style="text-align:center">
  <hr>
  <h2>CRIAR ITEM</h2>
  <label>Nome:
    <input #Nome />
  </label>
  <p></p>
  <p>
      <label>Produto:
  
        <select name="ProductId" (change)="productOp($event.target.value)" class="select-width form-control">
          <option value="-1">Escolha um valor</option>
          <option *ngFor="let p of allProdutos" value="{{p.productId}}">{{p.productId}} {{p.productName}}</option>
        </select>
      </label>
    </p>
  <p></p>
  <p>
    <label>Material:

      <select name="MaterialId" (change)="materialOp($event.target.value)" class="select-width form-control">
          <option value="-1">Escolha um valor</option>
        <option *ngFor="let mf of allMaterialFinishes" value="{{mf.materialId}}" >{{mf.materialId}} {{mf.materialName}}</option>
      </select>
    </label>
  </p>

  <p>
    <label>Acabamento:

      <select name="FinishId" (change)="finishOp($event.target.value)" class="select-width form-control">
          <option value="-1">Escolha um valor</option>
        <option *ngFor="let mf of allMaterialFinishes" value="{{mf.finishId}}" >{{mf.finishId}} {{mf.finishName}}</option>
      </select>
    </label>
  </p>

  <p></p>
  <label>Height:
    <input #Height />
  </label>
  <p></p>
  <label>Depth:
    <input #Depth />
  </label>
  <p></p>
  <label>Width:
    <input #Width />
  </label>
  <p></p>
  <button (click)="createPai(Nome.value,Height.value,Depth.value,Width.value)">Criar</button>

</div>