<p></p>
<div style="text-align:left">
    <h2>ENCOMENDAS</h2>  
  <button (click)="goBack()">Back</button >
</div>
<div style="text-align:center">
<p></p>
<h2>GERIR ENCOMENDAS</h2>
<p align="center">
  <li *ngFor="let enc of allEncomendas">
   <a routerLink="/encomendas/{{enc.id}}">
    <span class="badge">{{enc.nome}}</span>
   </a>
    <button class="delete" title="delete Encomenda" 
    (click)="deleteEncomenda(enc)">x</button>
  </li>
</p>

</div> 

<div style="text-align:center">
  <h2>CRIAR ENCOMENDA</h2>
  <label >Nome:
      <input #nome />
  </label>
  <h4>Morada:</h4>
  <label >Pais:
      <input #pais />
  </label>
  <p></p>
  <label >Cidade:
      <input #cidade />
  </label>
  <p></p>
  <label >Rua:
      <input #rua />
  </label>  
  <p></p>
  <button (click)="createEncomenda(nome.value,pais.value,cidade.value,rua.value)">Criar</button>
</div>


