<div style="text-align:left">
  <h2>{{titulo}}</h2> 
  <button (click)="goBack()" >Back</button >
</div>
<div>
  <div>
    <h2 >
      Products
    </h2>
    <li *ngFor="let p of allProducts"  [class.selected]="p === selectedProd" (click)="onSelectProduto(p)" > 
        <span > {{p.productName}}</span>
    </li>
  </div>

    <div *ngIf="selectedProd" >
        <h2>Continuous Dimensions</h2>
        <li *ngFor = "let a of ProductContDimensions" [class.selected]="a === selectedContDim" (click)="onSelectCD(a)">
            <span>Current values:</span>
            <span> Width: {{a.minWidthValue}} to {{a.maxWidthValue}}  </span>
            <span>| Height: {{a.minHeightValue}}  to  {{a.maxHeightValue}}  </span>  
            <span>| Depth: {{a.minDepthValue}}  to  {{a.maxDepthValue}}</span>
        </li>

        <h2>Discreet Dimensions</h2>
        <li *ngFor = "let d of ProductDiscDimensions" [class.selected]="d === selectedDiscDim" (click)="onSelectDD(d)">
            <span>Current values: </span>
            <span>Width: {{d.widthValue}} | Height: {{d.heightValue}} | Depth: {{d.depthValue}}</span>
        </li>
    
        <h2>Continuous Editor</h2>
        <div>
            <label>Min width: 
                <input type="text" #MinW />
            </label>
        </div>
        <div>
            <label>Max width: 
                <input type="text" #MaxW />
            </label>
        </div>
        <div>
            <label>Min depth: 
                <input type="text" #MinD />
            </label>
        </div>
        <div>
            <label>Max depth: 
                <input type="text" #MaxD />
            </label>
        </div>
        <div>
            <label>Min height: 
                <input type="text" #MinH />
            </label>
        </div>
        <div>
            <label>Max height: 
                <input type="text" #MaxH />
            </label>
        </div>
        <button (click)="criarCont(MinW.value,MaxW.value,MinH.value,MaxH.value,MinD.value,MaxD.value)">Criar dimensao</button> 
    <div *ngIf="selectedContDim">
        <button (click)="editContDim(MinW.value,MaxW.value,MinH.value,MaxH.value,MinD.value,MaxD.value)" >Submit Edit</button >
        <button (click)="apagarCont()">Apagar Dimensao</button> 
    </div>
        <h2>Discreet Editor</h2>
        <div>
            <label>width: 
                <input type="text" #MinDW />
            </label>
        </div>
        <div>
            <label>depth: 
                <input type="text" #MinDD />
            </label>
        </div>
        <div>
            <label>height: 
                <input type="text" #MinDH />
            </label>
        </div>
        <button (click)="criarDisc(MinDW.value,MinDD.value,MinDH.value)">Criar dimensao</button>
      <div *ngIf="selectedDiscDim" >
        <button (click)="editDiscDim(MinDW.value,MinDD.value,MinDH.value)" >Acabar Edicao</button >      
        <button (click)="apagarDisc()">Apagar Dimensao</button> 
      </div>
    </div>  
</div>
