<div style="text-align:left">
  <h2>{{titulo}}</h2> 
  <button (click)="goBack()">Back</button >
</div>
<div style="text-align:center">
  <p>
    <label>Descrição Produto:
      <input #Descricao/>
    </label>
  </p>
<p>
  <label>Material:

    <select name="MaterialIdEdit" (change)="adicionarMaterial($event.target.value)" class="select-width form-control">
      <option value="-1">Escolha um valor</option>
      <option *ngFor="let mf of allMateriaisFinish" value="{{mf.materialId}}">{{mf.materialId}}
        {{mf.materialName}}</option>
    </select>
    <!--<button (click)=" adicionarMaterial($event.target.value)">Adicionar Material</button>-->
  </label>
</p>
<p>
  <label>Categoria:

    <select name="CateogryIdEdit" (change)="addCategory($event.target.value)" class="select-width form-control">
      <option value="-1">Escolha um valor</option>
      <option *ngFor="let cat of allCategories" value="{{cat.categoryId}}">{{cat.categoryId}}
        {{cat.categoryName}}</option>
    </select>
    <!--<button (click)=" adicionarMaterial($event.target.value)">Adicionar Material</button>-->
  </label>
</p>

  <label> Altura:<input #DHeightE /></label>
  <label> MinimaAlturaContinua:<input #CMinHeightE /></label>
  <label> MaximaAlturaContinua:<input #CMaxHeightE /></label>
  <p></p>
  <label> Profundidade:<input #DepthE /></label>
  <label> MinimaProfundidadeContinua:<input #CMinDepthE /></label>
  <label> MaximaLarguraContinua:<input #CMaxDepthE /></label>
  <p></p>
  <label> Largura:<input #WidthE /></label>
  <label> MinimaLarguraContinua<input #CMinWidthE /></label>
  <label> MaximaLarguraContinua:<input #CMaxWidthE /></label>
 



</div>