<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <h2>
    {{ title }}
  </h2>
  <app-dash></app-dash>
  <nav>
    <p></p>
    <a routerLink="/ver-colecoes">VER COLEÇÕES</a>
    <p></p>
    <a routerLink="/ver-catalogos">VER CATÁLOGOS</a>
    <p></p>
    <a routerLink="/encomenda"> ENCOMENDAS</a>
    <p></p>
    <a routerLink="/planos">PLANO DE ENCOMENDAS</a>
    <p></p>
    <a routerLink="/catalogo"> GESTÃO DE PRODUTOS</a>
    <p></p>
    <a routerLink="/gerir-colecao"> GESTÃO DE COLEÇÔES</a>
    <p></p>
    <a routerLink="/gerir-catalogo"> GESTÃO DE CATÁLOGOS</a>
  </nav>
  <hr>
</div>
<router-outlet></router-outlet>