<div *ngIf="product">

  <div style="width: 600px; float: left; margin-left: 50px">
    <h2>{{product.productName | uppercase}} Editor</h2>

    <label>Name:
      <input type="text" #NameE />
    </label>
    <div>
      <label>Description:
        <input type="text" #Description>
      </label>
    </div>
    <button style="margin-bottom: 50px" (click)="editarProduto(product,NameE.value,Description.value)">
        Submeter Edição
      </button>
    <p></p>
    <h3>DADOS DO PRODUTO:</h3>
    <span>DESCRICAO: </span>{{product.productDescription}}
    <p></p>
    <span>CATEGORIA: </span>{{product.productCategory.categoryName}}
    <p></p>
    <p>
      MATERIALS:
    </p>
    <li *ngFor="let m of product.productMaterialWithFinish">
      <span>{{m.materialName}}</span>
    </li>

    

  </div>
  <div style="align-content: center;float: left; margin-left: 50px">
    <h2>SubProducts</h2>
    <li *ngFor="let p of product.subProducts">
      <span class="badge">{{p.productName}}</span>
    </li>
  </div>


</div>