<div style="text-align:left">
  <h2>{{titulo}}</h2>
  <button (click)="goBack()">Back</button>
</div>
<div style="text-align:center">
  <p>
    <label>Nome Coleção:
      <input #colectionName />
    </label>
  </p>
  <p>
    <label>Descrição Coleção:
      <input #colectionDescription />
    </label>
  </p>
  <p></p>
  <p>
    <ng-multiselect-dropdown [placeholder]="'Select Produtos'" [data]="produtos" [(ngModel)]="selectedProdutos"
      [settings]="dropdownSettings" (onSelect)="onItemSelect($event)">
    </ng-multiselect-dropdown>
  </p>
  <p>
    <button (click)=" post(colectionName.value,colectionDescription.value)">Adicionar Coleção</button>
  </p>







</div>