<div style="text-align:left">
  <h2>{{titulo}}</h2> 
  <button (click)="goBack()">Back</button >
</div>

<div style="text-align: center">
  <h2>{{listagem}}</h2> 
  <li *ngFor="let res of allRestricoes" [class.selected]="res === restricaoSelecionada" (click)="onSelect(res)">
    <span class="badge">{{res.restrictionDescription}}</span> 
    <button class="delete" title="delete Restricao"
    (click)="delete(res)"> x </button>
  </li>
</div>

<div style="text-align: center">
  <h2>{{criar}}</h2> 
  <label>Descricao:
    <input #restrictionDescription />
  </label>
  <p>
    <label>Produto:

      <select name="produtoSelecionado" (change)="prodOpEdit($event.target.value)" class="select-width form-control">
        <option value="-1">Escolha um Produto</option>
        <option *ngFor="let prod of allProdutos" value="{{prod.productId}}">{{prod.productName}}</option>
      </select>
    </label>
  </p>
  <p>
    <label>Parte do Produto:

      <select name="parteSelecionada" (change)="partOpEdit($event.target.value)" class="select-width form-control">
        <option value="-1">Escolha uma parte</option>
        <option *ngFor="let prod of allProdutos" value="{{prod.productId}}">{{prod.productName}}</option>
      </select>
    </label>
  </p>
  <p>
    <label>Parte Obrigatoria do produto?
        <select name="opcaoSelecionadaMandatoria" (change)="sameOpEdit($event.target.value)" class="select-width form-control">
            <option value="-1">Escolha uma opçao</option>
            <option *ngFor="let op of opcoes" value="{{op}}">{{op}}</option>
          </select>

    </label>
  </p>
  <p>
      <label>Parte tem de ter o mesmo material?
          <select name="opcaoSelecionadaMaterial" (change)="obOpEdit($event.target.value)" class="select-width form-control">
              <option value="-1">Escolha uma opçao</option>
              <option *ngFor="let op of opcoes" value="{{op}}">{{op}}</option>
            </select>
  
      </label>
  </p>
  <p></p>
      <label>Ocupaçao maxima em Altura :
        <input #restrictionMaxOccupationHeight />
      </label>
  <p></p>
      <label>Ocupaçao maxima em Comprimento :
        <input #restrictionMaxOccupationWidth />
      </label>
  <p></p>
      <label>Ocupaçao maxima em Profundidade :
        <input #restrictionMaxOccupationDepth/>
      </label>
      <p></p>
      <label>Ocupaçao minima em Altura :
        <input #restrictionMinOccupationHeigth/>
      </label>
  <p></p>
      <label>Ocupaçao minima em Comprimento :
        <input #restrictionMinOccupationWidth />
      </label>
  <p></p>
      <label>Ocupaçao minima em Profundidade :
        <input #restrictionMinOccupationDepth/>
      </label>
  <p></p>
  <button (click)="postRestricao(restrictionDescription.value,restrictionMaxOccupationHeight.value,restrictionMaxOccupationDepth.value,restrictionMaxOccupationWidth.value,restrictionMinOccupationHeigth.value,restrictionMinOccupationDepth.value,restrictionMinOccupationWidth.value)">Criar Agregaçao</button>
</div>

<app-restricao-edit [restricao]="restricaoSelecionada"></app-restricao-edit>