<div style="text-align:left">
<h3>
  Submeter Encomenda
</h3>
</div>
<div style="text-align:center">

  <select name="encomendaSelecionada" (change)="selectOrder($event.target.value)" class="select-width form-control">
    <option value="-1">Escolha uma encomenda</option>
    <option *ngFor="let enc of allEncomendas" value="{{enc.id}}">{{enc.nome}}</option>
  </select>

  <p></p>
  <button (click)="submitEncomenda()">Submeter</button>
  <p></p>
  <p></p>
  <button (click)="goBack()">Back</button >
</div>